--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple

torch
torchvision
flask
flask-cors
ultralytics
opencv-python-headless
cvzone
numpy
python-dotenv
requests
gunicorn
